<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_API</key>
	<string>7853ff72a700bf6836329935b6c5b451</string>
	<key>YoutubeAPI</key>
	<string>AIzaSyB_8L6k1f0T1wHaV6oI5l3vH6WLRzRScGM</string>
</dict>
</plist>
